<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ir.madjeed.healthcare" >


    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
        <activity
                android:name=".gui.menu.StarterActivity"
                android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>

        <activity android:name=".gui.EditInfoActivity"/>

        <activity android:name=".gui.patient.ConsultantActivity"/>
        <activity android:name=".gui.patient.ConsultantDetailActivity"/>
        <activity android:name=".gui.patient.AddConsultantActivity"/>
        <activity android:name=".gui.patient.AddPhysicalActivity"/>
        <activity android:name=".gui.patient.SelectDoctorActivity"/>
        <activity android:name=".gui.patient.SicknessHistoryActivity"/>
        <activity android:name=".gui.patient.AddSicknessActivity"/>
        <activity android:name=".gui.patient.SicknessDetailActivity"/>
        <activity android:name=".gui.patient.AddPrescriptionActivity"/>


        <activity android:name=".gui.doctor.ReferencePatientActivity"/>

        <activity android:name=".gui.MenuActivity"/>

        <activity android:name=".gui.menu.PatientMenuActivity"/>
        <activity android:name=".gui.menu.DoctorMenuActivity"/>
        <activity android:name=".gui.menu.DrugStoreMenuActivity"/>
        <activity android:name=".gui.menu.AdminMenuActivity"/>

        <activity android:name=".gui.ItemDetailActivity"/>
        <activity android:name=".gui.BasicListActivity"/>

        <activity android:name=".gui.authentication.RegisterActivity"/>
        <activity android:name=".gui.authentication.LoginActivity"/>

        <activity android:name=".gui.ProfileActivity"/> <!-- to be remove soon -->
        <activity android:name=".gui.profile.DoctorProfileActivity"/>
        <activity android:name=".gui.profile.PatientProfileActivity"/>
        <activity android:name=".gui.profile.RequestProfileActivity"/>
        <activity android:name=".gui.profile.PrescriptionDeliveryProfileActivity"/>


        <activity android:name=".gui.drugstore.DrugDeliveryActivity"/>



        <activity android:name=".gui.patient.PhysicalStateActivity"/>
        <activity android:name=".gui.doctor.AddPhysicalStateActivity"/>
        <activity android:name=".gui.doctor.PhysicalStateReportActivity"/>


    </application>

</manifest>
